

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
background-color: #07253d;
}
.navbar {
position: sticky;
top: 0;
width: 100%;
background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:#040e2e;
    
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, .6); */
    display: flex;
    justify-content: flex-end;
    position: relative;
}

li {
    position: relative;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    perspective: 1000px;
}

li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(6, 6, 88);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

li a:hover {
    color: #4c9191;
    transform: translateY(-3px);
    background-color: white;
}

li a:hover:before {
    transform: scaleX(1);
}

.spacer {
    flex-grow: 1;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

}
.home-content{color: white; margin: 120px;}

/* logo */
.login-box form a {
     position: relative;
     display: inline-block;
     padding: 10px 20px;
     color: #03e9f4;
     font-size: 16px;
     text-decoration: none;
     /* text-transform: uppercase; */
     overflow: hidden;
     transition: .5s;
     margin-top: 40px;
     /* letter-spacing: 4px; */
     
 }
.login-box a:hover{
     background: #03e9f4;
     color: #fff;
     border-radius: 50px;
     box-shadow: 0 0 5px #03e9f4;
     box-shadow: 0 0 25px #03e9f4;
     box-shadow: 0 0 50px #03e9f4;
     box-shadow: 0 0 100px #03e9f4;
 }
 .login-box a span{
     position: absolute;
     display: block;
 }
.login-box a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#03e9f4);
  animation: btn-anim1 1s linear infinite;
  
}
@keyframes btn-anim1{
  0%{
   left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.login-box a span:nth-child(2){
  top: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}
@keyframes btn-anim2{
  0%{
   top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.login-box a span:nth-child(3){
  bottom: 0;
 right: -100px;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}
@keyframes btn-anim3{
  0%{
   right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.login-box a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,#03e9f4) ;
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}
@keyframes btn-anim4{
  0%{
   bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
.t{background: none;}


.typing-effect {
overflow: hidden; /* Hide overflowing characters */
border-right: 0.15em solid orange; /* Add a blinking cursor effect */
white-space: nowrap; /* Prevent line breaks */
margin: 0; /* Remove any default margin */
animation: typing 4s steps(40, end) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
from {
width: 0;
}
to {
width: 80%;
}
}

@keyframes blink-caret {
from, to {
border-color: transparent;
}
50% {
border-color: #03e9f4;
}
}
.animition{
display: flex;

}
.home{
display: flex;
}
.one{
display: flex;
}

.hover-effect {
box-shadow: 0 10px 50px #03e9f4;
width: 400px;
height: 200px;
border-radius: 20px;
transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
transform: scale(1.1);
}
.form-container {
 width: 400px;
 margin: 0 auto;
 padding: 20px;
 background-color: #040e2e;
 border-radius: 5px;
 color:white;
}

.form-container label {
 display: block;
 margin-bottom: 10px;
 font-weight: bold;
}

.form-container input[type="range"] {
 width: 100%;
 height: 20px;
 margin-bottom: 15px;
}

.form-container #rangeValue {
 display: inline-block;
 font-weight: bold;
 font-size: 18px;
 margin-right: 5px;
}
.all-skills{
  display: flex;
}
.title{
  display: flex;
}
.num{
  display: flex;
}
.contact1{
   display: flex;
}
.button1 {
 background: #03e9f4;
     color: #fff;
     border-radius: 5px;
     box-shadow: 0 0 5px #03e9f4;
     box-shadow: 0 0 25px #03e9f4;
     box-shadow: 0 0 50px #03e9f4;
     box-shadow: 0 0 100px #03e9f4;
}
